.info-content li {
    font-size: 18px;
    margin-bottom: 20px;
}

.index-img-1 {
    max-height: 300px;
    width: auto;
}
.index-img-2 {
    max-height: 300px;
    width: auto;
}
.index-img-3 {
    max-height: 300px;
    width: auto;
}

img {
    margin-left: 40px;
}