<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block linkcss %}
    <title>География</title>
    <link rel="stylesheet" href="{% static "css/geography.css" %}">
{% endblock %}
{% block main %}
    <main>
        <center><h1>География</h1></center>
        <center>
            <img class="graph-geography" src="{% static "images/" %}{{graph}}" alt="error!"/>
        </center>
        <div class="tables-geography">
            {% for table in data %}
            <div class="el-g">
                <p>{{ table.1 }}</p>
                {{ table.0 |safe }}
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
